doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/1ad9241671.js' crossorigin='anonymous')
  script(src='https://cdn.tailwindcss.com')
// Nav bar
nav.bg-black.sticky.top-0
  .container.mx-auto.flex.justify-between.items-center.text-white.py-4
    .flex
      img(src="http://localhost:3002/images/duthuyen/lo1.png", alt="" class="items-center align-middle h-28 object-cover")
    .flex
      a(href="" class='ml-8 hover:text-blue-400 text-xl') Home
      a(href="/sanpham?page=1" class='ml-8 hover:text-blue-400 text-xl') Boat 
      a(href="/sanpham?page=1" class='ml-8 hover:text-blue-400 text-xl') Yatch 
      a(href="" class='ml-8 hover:text-blue-400 text-xl') Contact
      a(href="" class='ml-8 hover:text-blue-400 text-xl') About Us
      a(href="" class='ml-8 hover:text-blue-400 text-xl')  
        i.fas.fa-search
// Nav bar end
each yatch in yatchs
  section.container.mx-auto.my-4
    .text-center.mb-4
      .text-2xl.font-bold.font-narrow
        | YATCH INFORMATION
      div This is the thing you have chosen
    .flex
      .bg-blue-100.mr-2.p-2.rounded-lg(class='basis-1/2')
        img.aspect-video.object-cover(src=yatch.yatch_img alt='')
      .bg-blue-100.mr-2.p-2.rounded-lg.grid.grid-cols-2(class='basis-1/2')
        .font-bold Name:
        div #{yatch.yatch_name}
        .font-bold Kind:
        div #{yatch.yatch_kind}
        .font-bold Length:
        div #{yatch.yatch_length}
        .font-bold Origin:
        div #{yatch.yatch_origin}
        .font-bold Year:
        div #{yatch.yatch_year}
        .font-bold Price:
        div #{yatch.yatch_price}
  .container.my-2.p-2.bg-blue-100.mx-auto.rounded-lg
    .text-2xl.font-bold.text-center
      | Description
    div #{yatch.yatch_desc}
footer.bg-black
  .flex.flex-col
    .flex.container.mx-auto.py-4
      img(src="http://localhost:3002/images/duthuyen/lo1.png", alt="" class="items-center align-middle object-cover basis-1/3 pt-8 h-40")
      .text-white.px-2(class='basis-1/3')
        .text-xl.font-bold.pb-2
          | Contact Info
        .flex.items-center
          button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
            i.fas.fa-map-marker
          div
            | 123 xyz.st Ha Noi, Viet Nam
        .flex.items-center
          button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
            i.fas.fa-envelope
          div
            | info@loremipsum.com
        .flex.items-center
          button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
            i.fas.fa-phone
          div
            | +84224567890
        .flex.items-center
          button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
            i.fas.fa-mobile
          div
        .flex.items-center
          button.bg-blue-500.h-10.w-10.rounded-full(class='hover:bg-orange-600')
            i.fas.fa-fax
          div
      .font-bold.text-xl.text-white(class='basis-1/3')
        div
        | Our Gallery
        img.p-2(src='http://localhost:3002/images/duthuyen/Azimut.jpg' alt='' class='tems-center align-middle w-full object-cover')
        img.p-2(src='http://localhost:3002/images/duthuyen/MulderFifty.jpg' alt='' class='tems-center align-middle w-full object-cover')
        img.p-2(src='http://localhost:3002/images/duthuyen/GLADIUS.jpg' alt='' class='tems-center align-middle w-full object-cover')
    .bg-gray-100(class='h-0.5')
    .flex.justify-end.items-center.py-4.container.mx-auto
      button.bg-blue-500.h-12.w-12.items-center(class='hover:bg-orange-600')
        i.fa.fa-facebook-f(style='font-size:24px')
      button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
        i.fa.fa-twitter(style='font-size:24px')
      button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
        i.fa.fa-instagram(style='font-size:24px')
      button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
        i.fa.fa-github(style='font-size:24px')
      button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
        i.fa.fa-youtube-play(style='font-size:24px')
