doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://kit.fontawesome.com/1ad9241671.js' crossorigin='anonymous')
    script(src='https://cdn.tailwindcss.com')
    link(href='https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
// Nav bar
nav.bg-black.sticky.top-0
    .container.mx-auto.flex.justify-between.items-center.text-white.py-4
        .flex
            img(src="http://localhost:3002/images/duthuyen/lo1.png", alt="" class="items-center align-middle h-28 object-cover")
        .flex
            a(href="" class='ml-8 hover:text-blue-400 text-xl') Home
            a(href="/sanpham?page=1" class='ml-8 hover:text-blue-400 text-xl') Boat 
            a(href="/sanpham?page=1" class='ml-8 hover:text-blue-400 text-xl') Yatch 
            a(href="" class='ml-8 hover:text-blue-400 text-xl') Contact
            a(href="" class='ml-8 hover:text-blue-400 text-xl') About Us
            a(href="" class='ml-8 hover:text-blue-400 text-xl')  
                i.fas.fa-search
// Nav bar end
// Display section
section.flex.flex-row
    .container.mx-auto
        // San pham
        .text-center.text-4xl.font-bold.pb-4.pt-8.font-mulish
            | FIND YOUR DESIRE YATCH HERE
        .grid.grid-cols-2.gap-2.py-4
            each yatch in yatchs
                form(action="/inform", method="post").border.border-gray-300.p-4.rounded-lg
                    input#id(type="text" name="id" value=yatch.yatch_id style="display: none")
                    input(type='image' src=yatch.yatch_img alt='Submit' class="aspect-video object-cover w-full")
                    .font-bold.py-2.pl-2.text-2xl #{yatch.yatch_name}
                    .flex.py-2.pl-2
                        .border-r.border-gray-600.pr-2 
                            i.fa.fa-globe(class='pr-2')
                            | #{yatch.yatch_origin}
                        .border-r.border-gray-600.px-2 
                            i.fas.fa-ship(class='pr-2')
                            | #{yatch.yatch_length}
                        .border-r.border-gray-600.px-2 
                            i.fas.fa-calendar(class='pr-2')
                            | #{yatch.yatch_year}
                        .pl-2 
                            i.fas.fa-dollar-sign(class='pr-2')
                            | #{yatch.yatch_price}
        // san pham end
        // Pagination
        .flex.items-center.mb-4.mt-2.justify-end
            nav(aria-label='Pagination')
                ul.inline-flex.-space-x-px.text-base.h-10
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=1' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 1
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=2' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 2
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=3' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 3
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=4' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 4
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=5' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 5
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=6' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 6
                    li
                        a.flex.items-center.justify-center.px-4.h-10.leading-tight.text-gray-500.bg-white.border.border-gray-300(href='/sanpham?page=7' class='hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white')
                            | 7
    // Pagination end
// Display section end
// Footer
footer.bg-black
    .flex.flex-col
        .flex.container.mx-auto.py-4
            img(src="http://localhost:3002/images/duthuyen/lo1.png", alt="" class="items-center align-middle object-cover basis-1/3 pt-8 h-40")
            .text-white.px-2(class='basis-1/3')
                .text-xl.font-bold.pb-2
                    | Contact Info
                .flex.items-center
                    button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
                        i.fas.fa-map-marker
                    div
                        | 123 xyz.st Ha Noi, Viet Nam
                .flex.items-center
                    button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
                        i.fas.fa-envelope
                    div
                        | info@loremipsum.com
                .flex.items-center
                    button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
                        i.fas.fa-phone
                    div
                        | +84224567890
                .flex.items-center
                    button.bg-blue-500.h-10.w-10.shrink-0.rounded-full(class='hover:bg-orange-600')
                        i.fas.fa-mobile
                    div
                .flex.items-center
                    button.bg-blue-500.h-10.w-10.rounded-full(class='hover:bg-orange-600')
                        i.fas.fa-fax
                    div
            .font-bold.text-xl.text-white(class='basis-1/3')
                div
                | Our Gallery
                img.p-2(src='http://localhost:3002/images/duthuyen/Azimut.jpg' alt='' class='tems-center align-middle w-full object-cover')
                img.p-2(src='http://localhost:3002/images/duthuyen/MulderFifty.jpg' alt='' class='tems-center align-middle w-full object-cover')
                img.p-2(src='http://localhost:3002/images/duthuyen/GLADIUS.jpg' alt='' class='tems-center align-middle w-full object-cover')
        .bg-gray-100(class='h-0.5')
        .flex.justify-end.items-center.py-4.container.mx-auto
            button.bg-blue-500.h-12.w-12.items-center(class='hover:bg-orange-600')
                i.fa.fa-facebook-f(style='font-size:24px')
            button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
                i.fa.fa-twitter(style='font-size:24px')
            button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
                i.fa.fa-instagram(style='font-size:24px')
            button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
                i.fa.fa-github(style='font-size:24px')
            button.bg-blue-500.h-12.w-12.ml-2.items-center(class='hover:bg-orange-600')
                i.fa.fa-youtube-play(style='font-size:24px')
// Footer end
